{{#each this}}
<div class="card">
    <h2 class="country_name">{{name}}</h2>
    <div class="coutry_card_body">
        <p>Capital: {{capital}} </p>
        <p>Region: {{subregion}} </p>
        <p>Country area: {{area}} square kilometers</p>
        <p>Poppulation: {{population}} </p>
        <p>Languages:
        <ul class="list">
            {{#each languages}}
            <li class="list-item">{{name}}</li>
            {{/each}}
        </ul>
        </p>
        <p>Currencies:
        <ul class="list">
            {{#each currencies}}
            <li class="list-item">{{name}}</li>
            {{/each}}
        </ul>
        </p>
    </div>
    <span>National flag</span>
    <div>
        <img class="flag" src="{{flag}}" alt="{{name}}" height="200">
    </div>
</div>
{{/each}}